# Django / Backend
DEBUG=1
SECRET_KEY="django-insecure-+oy4r)r8&r=5css*@8l9=z)x&vhnc1r#cphakd_coco=%dj_!8"
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=drflocalstackdb
POSTGRES_USER=drflocalstackuser
POSTGRES_PASSWORD=drflocalstackpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# AWS / LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=http://localstack:4566
AWS_STORAGE_BUCKET_NAME=s3bucket
